body{
    background-color: rgb(253, 250, 218);
}

.navbar{
    background-color: rgb(169, 248, 105);
    color: black;
}

.navbar-default .navbar-brand{
    color: black;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    
}